@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

body {
  text-align: center;
  font-family: 'McLaren', sans-serif;
  background-color: rgba(173, 216, 230, 0.6);
}

.chart {
  display: flex;

}

.resultContainer{
  display: flex;
}

.result {
  margin: 1rem auto;
  background-color: rgba(249,249,247,1);
  padding: 0 1rem 1rem 1rem;
  border-radius: 10px;
}

.tableContainer{
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: lightblue;
  border-radius: 30px;
}

.tableHeader {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}

.formContainer{
  padding: 2rem;
}

.center {
  align-items: center;
}

h1 {
  padding-top: 2rem;
}

button {
  font: inherit;
  border-radius: 10px;
  border: none;
  background-color: lightblue;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
}

button:hover{
  border: 1px solid black;
}

input{
  font: inherit;
  border-radius: 5px;
  border: 0.5px solid black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.resultTitle {
  margin: 0;
  font-size: x-large;
}